<ion-content>

	<div class="body">
		<header class="header">
			<a [routerLink]="['/home']" class="logo"></a>
		</header>
		
		<div class="home bg ">
			<div class="homeB">
				<p>Faire des gâteaux n'est pas forcement aissé, <strong style="color:#e11e72;">Excéllence pâtissérie</strong> est une application qui vous accompagne dans la réalisation de gâteau, croissant, pastelle (...) idéal pour les débutants et même les confirmés</p>
			</div>
			<a [routerLink]="['/accueil']" class="begin btn-info">COMMENCER</a>
				
		</div>
	</div>
</ion-content>
