<ion-content>
	<header class="header">
		<a [routerLink]="['/accueil']" class="logo"></a>
	</header>
	<div class="nav">
		<a [routerLink]="['/genoise/1']"><i class="fas fa-hotdog " ></i><em>Gâteau</em></a>
		<a [routerLink]="['/viennoise/2']"><i class="fas fa-hamburger" ></i><em>Viénnoisérie</em></a>
		<a [routerLink]="['/autres/3']"><i class="fa-birthday-cake" ></i><em>Autres</em></a>
		<div class="clear"></div>
	</div>
	<br>
	<br>


	<div class="content">
		<br>
		<div>
				<div class="" >
					<a [routerLink]="['/genoise/1']">
						<ion-card>
						  <ion-card-header>
						    <img src="../../assets/images/genoise.png" width="150" height="150"  class="rounded-circle img"  >
						    <ion-card-title><strong class="title">Génoise</strong></ion-card-title>
						  </ion-card-header>

						  <ion-card-content>
						  	<span class="details">Des gâteaux faits maison, à petit prix et personnalisable.</span>						    
						  </ion-card-content>
						</ion-card>
						
					</a>
					<a [routerLink]="['/viennoise/2']">
						<ion-card>
						  <ion-card-header>
						    <img src="../../assets/images/viennoise.png" width="150" height="150"  class="rounded-circle img"  >
						    <ion-card-title><strong class="title">Viennoiserie</strong></ion-card-title>
						  </ion-card-header>

						  <ion-card-content>
						  	<span class="details">Réaliser des pains (croissant, pain au chocolat, ...) et personnalisez les à votre goût.</span>						    
						  </ion-card-content>
						</ion-card>
						
					</a>
					<a [routerLink]="['/autres/3']">
						<ion-card>
						  <ion-card-header>
						    <img src="../../assets/images/beignet.png" width="150" height="150"  class="rounded-circle img"  >
						    <ion-card-title><strong class="title">Autres</strong></ion-card-title>
						  </ion-card-header>

						  <ion-card-content>
						  	<span class="details">Réaliser des petits beignets pour vous et votre famille.</span>						    
						  </ion-card-content>
						</ion-card>
						
					</a>
					
					<div class="clear"></div>
				</div>
		</div>
		
	</div>	


</ion-content>